@mixin animation-props {
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 1s ease-out;
}

@mixin left-slide-animation {
  transform: translateX(-300px);
  @include animation-props;
}

@mixin right-slide-animation {
  transform: translateX(300px);
  @include animation-props;
}

@mixin bottom-slide-animation {
  transform: translateY(150px);
  @include animation-props;
}

@mixin sides-animation-stop {
  transform: translateX(0);
  opacity: 1;
}

@mixin bottom-animation-stop {
  opacity: 1;
  transform: translateY(0);
}