@mixin animation-props {
  opacity: 0;
  transition: transform .8s ease-out, opacity 1s ease-out;
}

@mixin side-slide-animation($direction) {
  transform: translateX($direction);
  @include animation-props;
}

@mixin bottom-slide-animation {
  transform: translateY(15rem);
  @include animation-props;
}

@mixin sides-animation-stop {
  transform: translateX(0);
  opacity: 1;
}

@mixin bottom-animation-stop {
  opacity: 1;
  transform: translateY(0);
}

@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin animated-bg-odd { // used in the portfolio component
  transition-delay: .9s;
  transition-timing-function: ease-out;
}

@mixin animated-bg-even { // used in the portfolio component
  transition-delay: .1s;
  transition-timing-function: ease-in;
}

@mixin inner-contents-animation { // used in the portfolio component
  transform: translateY(8rem);
  opacity: 0;
  transition: transform .8s, opacity .8s;
  transition-timing-function: ease-out;
}

// Media query manager
@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 40em) { @content }; //640px
  }

  @if $breakpoint == mobile {
    @media (max-width: 56.25em) { @content }; //900px
  }

  @if $breakpoint == tablet {
    @media (max-width: 81.25em) { @content }; //1300px
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 120em) { @content }; //1920px
  }
}