.component-portfolio {
  overflow: hidden;
}

.component-portfolio-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  @include respond(mobile) {
    gap: 2rem;
  }

  @include respond(xs) {
    grid-template-columns: 1fr;
  }
}

.component-portfolio-item {
  display: grid;
  grid-template-columns: 100% 100%;
  border: 1px solid $light-grey;
  overflow: hidden;

  &:nth-child(odd) {
    .component-portfolio-animated-bg {
      @include animated-bg-odd;
    }

    .component-portfolio-inner-title {
      transition-delay: 1.2s;
    }

    .component-portfolio-inner-tech {
      transition-delay: 1.3s;
    }

    .component-portfolio-inner-year {
      transition-delay: 1.4s;
    }
  }

  &:nth-child(even) {
    .component-portfolio-animated-bg {
      @include animated-bg-even;
    }

    .component-portfolio-inner-title {
      transition-delay: .8s;
    }

    .component-portfolio-inner-tech {
      transition-delay: .9s;
    }

    .component-portfolio-inner-year {
      transition-delay: 1s;
    }
  }

  @include respond(xs) {
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        .component-portfolio-animated-bg {
          transition-delay: calc(0.01s * #{$i});
          transition-timing-function: ease-in;
        }

        .component-portfolio-inner-title {
          transition-delay: .8s;
        }

        .component-portfolio-inner-tech {
          transition-delay: .9s;
        }

        .component-portfolio-inner-year {
          transition-delay: 1s;
        }
      }
    }
  }
}

.component-portfolio-inner {
  padding: 1.5rem 2rem;
  grid-row: 1;
  grid-column: 1;

  &-title {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
    @include inner-contents-animation;

    @include respond(xs) {
      font-size:2.2rem;
    }
  }

  &-tech {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    @include inner-contents-animation;

    li {
      padding-left: 1.6rem;
      margin-left: 1rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 0.6rem;
        height: 0.6rem;
        background-color: $purple-bg;
        top: 50%;
        left: 0;
        margin-top: -0.2rem;
      }

      &:first-child {
        margin-left: 0;
        padding-left: 0;

        &::before {
          display: none;
        }
      }
    }
  }

  &-year {
    display: block;
    @include inner-contents-animation;
  }
}

.component-portfolio-animated-bg {
  background: $light-grey;
  transition: width .8s;
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  z-index: 1;
}

.component-portfolio-item.in-view {
  .component-portfolio-animated-bg {
    width: 0;
  }

  .component-portfolio-inner-title, .component-portfolio-inner-tech, .component-portfolio-inner-year {
    opacity: 1;
    transform: translateY(0);
  }
}