*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-size: $base-font-size;
  font-family: 'Open Sans', sans-serif;
  line-height: $line-height-general;
  height: 100%;
  color: $text-default;
  box-sizing: border-box;
}

a {
  color: $link-default;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}