.main-title {
  font-size:3.5rem;
  font-weight: 800;
  line-height:$line-height-general;
  text-shadow: $text-shadow;

  &-intro {
    animation: 1s ease-out 1 main-title-intro;
  }

  &-desc {
    animation: 1s ease-out 1 main-title-desc;
  }
}

.general-title {
  font-size: 4rem;
  margin-bottom: 50px;
  font-weight: 800;
  @include left-slide-animation;

  &:after {
    content: "";
    display: block;
    margin: 10px auto 0;
    width: 50px;
    height: 5px;
    background-color: $purple-bg;
    transform: translateX(-300px);
    transition: all 0.8s ease-out;
  }
}

.in-view .general-title, .in-view .general-title:after {
  @include sides-animation-stop;
}