body {
  font-size: $base-font-size;
  font-family: 'Open Sans', sans-serif;
  line-height: $line-height-general;
  color: $text-default;
}

.main-title {
  font-size:3.5rem;
  font-weight: 800;
  line-height:$line-height-general;
  text-shadow: $text-shadow;
  backface-visibility: hidden;

  &-intro {
    animation: moveInLeft 1s ease-out;
  }

  &-desc {
    animation: moveInRight 1s ease-out;
  }
}

.general-title {
  font-size: 4rem;
  margin-bottom: 5rem;
  font-weight: 800;
  @include side-slide-animation(-30rem);

  &::after {
    content: "";
    display: block;
    margin: 1rem auto 0;
    width: 5rem;
    height: 0.5rem;
    background-color: $purple-bg;
    transform: translateX(-30rem);
    transition: all .8s ease-out;
  }
}

.in-view .general-title, .in-view .general-title::after {
  @include sides-animation-stop;
}