.component-margin {
  margin: 100px 0 0;
}

.separator {
  &:before {
    display: block;
    margin: 34px auto 68px;
    content: "";
    width: 4px;
    height: 200px;
    background-color: #E9E9E9;
  }
}

.text-center {
  text-align: center;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}