.component-about {
  overflow: hidden;
}

.component-about-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  align-items: center;

  @include respond(tablet) {
    gap: 2rem;
  }

  @include respond(mobile) {
    grid-template-columns: 0.5fr 1fr;
  }

  @include respond(500) {
    grid-template-columns: 1fr;
  }
}

.about-summary {
  //@include side-slide-animation(-30rem);

  @include respond(500) {
    order: 2;
  }
}

.about-image {
  //@include bottom-slide-animation;
  clip-path: polygon(20% 15%, 80% 5%, 100% 50%, 82% 95%, 25% 91%, 0% 43%);

  @include respond(mobile) {
    grid-row: 1;
    grid-column: 1;
  }

  @include respond(500) {
    grid-column: auto;
    grid-row: auto;
    order: 1;
    clip-path: circle(40% at 50% 50%);
  }
}

.skill-summary {
  @include side-slide-animation(30rem);

  &-item {
    background-color: $light-grey;
    margin: 0.5rem 0;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
  }

  &-fill {
    overflow: hidden;
    width: 10%;
    transition: 1.1s .2s width ease-in-out;
  }

  &-tag {
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-weight: 800;
    text-shadow: $text-shadow;
    background: $blue-gradient;
    width: 35.4rem;

    @include respond(mobile) {
      width: 90vw;
    }
  }

  &-percentage {
    width: 10%;
    font-weight: 800;
    font-size: 1.5rem;
    @include flex-centered;
  }

  @include respond(mobile) {
    grid-column: span 2;
  }

  @include respond(500) {
    grid-column: auto;
    order: 3;
  }

}

.in-view {
  .about-image {
    //@include bottom-animation-stop;
  }

  .skill-summary {
    @include sides-animation-stop;
  }

  .skill-summary-item {
    &:nth-child(1), &:nth-child(2) {
      .skill-summary-fill {
        width: 90%;
      }
    }

    &:nth-child(3) .skill-summary-fill {
      width: 70%;
    }

    &:nth-child(4) .skill-summary-fill {
      width: 50%;
    }
  }


}