.header {
  padding: 10rem 0;
  background-image: $blue-gradient;
  text-align: center;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 95vh;

  @include respond(tablet) {
    padding: 0;
    height: 75vh;
  }
}

.dive-down {
  width: 60px;
  height: 120px;
  position: absolute;
  bottom: 3vh;
  left: 50%;
  margin-left: -30px;
  background: url(../../assets/images/pointing-hand@1x.png) center center no-repeat;
  background-size: cover;
  z-index: 100;
  border: 0;
  cursor: pointer;
  //pointer-events: none;
  animation: 2s ease-in-out infinite diveDown;
  transition: opacity .2s, bottom .2s;
  transition-delay: 1.4s;

  @include respond(tablet) {
    display: none;
  }
}

.dive-down.disappear, .no-js .dive-down {
  opacity: 0;
  bottom: -9.75rem;
  transition-delay: 0s
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  .dive-down {
    background-image: url(../../assets/images/pointing-hand@2x.png)
  }
}

