.btn-primary {
  transition: 0.3s ease all;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 16px 79px 15px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  border: none;
  border-radius: 0;
  outline: none;
  text-decoration: none;
  z-index: 2;
  color:#be2edd;

  &:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #be2edd;
    z-index: -2;
  }

  &:hover {
    color: #fff;

    &:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }
}