.btn-primary {
  transition: .3s ease all;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 1.6rem 7.9rem 1.5rem;
  background: #fff;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.1);
  border: none;
  border-radius: 0;
  outline: none;
  text-decoration: none;
  z-index: 2;
  color:$purple-bg;
  font-size: $base-font-size;

  &::before {
    transition: .5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: $purple-bg;
    z-index: -2;
  }

  &:hover {
    color: #fff;

    &::before {
      transition: .5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }
}